* {
    margin: 0px;
    padding: 0px;
}

#container-main,
#newProjectPrompt,
.container-row {
    display: flex;
}

.container-row > * {
    padding: 0px;
    margin: 5px;
}

#container-main {
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    margin: 10px;
}

#projects-display {
    display: flex;
    flex-direction: column;
    justify-content: start;

    width: 15vw;
    min-height: 100vh;

    border-right: 3px solid black;

    text-align: center;
    padding: 15px;
}

#btnNewProject {
    margin: 10px;
    width: 90%;
    min-height: 1.5rem;
}

#project {
    border: 2px solid black;
    border-radius: 5px;

    margin: 8px;
    padding: 3px;

    width: 90%;
    height: 2rem;
    
    text-align: center;
    font-size: medium;
}

#newProjectPrompt {
    border: 2px solid black;
    border-radius: 5px;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;
    margin: 10px;

    min-width: 50%;
    min-height: 10vh;
}

#newProjectPrompt > * {
    margin: 3px;
}

#btnAddProject,
#btnCancelProject {
    height: 1.2rem;
    width: 4rem;

    font-size: medium;
}

#menu,
#todoCreation {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: calc(100% - 0.2rem);
    min-height: 2rem;
    
    padding: 0.2rem;
    margin: 0.3rem;

    border: 0.12rem solid black;
    border-radius: 10px;
}

#todoCreation > *{
    padding: 0.5rem;
}
#todoCreation > input, #todoCreation > select{
    max-height: 1.5rem;
    padding: 0px;
}

#btnCreateTodo {
    padding: 0px;
    height: 1.5rem;
    min-width: 8rem;
    margin: 1rem;
}

#todoDesc {
    width: 30rem;
    height: 1.5rem;
    padding: 0.1rem;
}