* {
    margin: 0px;
    padding: 0px;

    font-family: 'Roboto';
}

#grid-main {
    display: grid;

    grid-template-columns: 15vw 1fr;
    grid-template-rows: 15vh 85vh;
}

#dashboard {
    background-color: rgb(255, 187, 86);

    grid-column: 1/2;
    grid-row: 1/3;
}

#dashboard > *, #projects-container > * {
    width: calc(100% - 3rem);

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1rem;
}

#projects-container > * {
    margin: 0.4rem;
}

#formBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: initial;

    border: none;
    font-size: 1.5rem;

    color: white;
}

.icon {
    height: 2.5rem;

    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(286deg) brightness(103%) contrast(103%);
}

#projects-container {
    width: 100%;
    margin: 0px;
    flex-direction: column;
}


.project {    
    padding: 0.5rem;
    font-size: 1rem;

    color: black;
    background-color: white;

    border: none;
    border-radius: 1rem;
}

.project:hover {
    border: 2px solid black;
}

#header {
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 2/3;
    grid-row: 1/2;
}

.projectBtn {
    background-color: rgb(255, 187, 86);
    border: none;
    border-radius: 2rem;

    font-size: 1rem;

    margin: 2rem;

    height: 3rem;
    width: 10rem;
}

label {
    font-size: 1.4rem;
    margin: 0.4rem;
}

.todoInput {
    border: 1px solid black;
    border-radius: 1rem;

    padding: 0.2rem;
}

.todo-row {
    display: flex;
    justify-content: start;
    align-items: center;
}

#projectTitle {
    margin: 2rem;
}

#priority {
    height: 1.8rem;
    border: 1px solid black;
    padding: 0.3rem;
    border-radius: 1rem;
}

#desc {
    width: 100%;
    border: 1px solid black;
    border-radius: 0.2rem;
}

#todoForm {
    padding: 0.6rem;
    border: 1px solid black;
    border-radius: 1rem;
}

#btnTodo {
    margin: 1rem;
    padding: 0.3rem;

    font-size: 1rem;
    color: white;
    background-color: rgb(255, 187, 86);

    height: 2rem;
    width: 10rem;
    border: none;
    border-radius: 1rem;
}

#main {
    background-color: rgb(222, 232, 245);

    grid-column: 2/3;
    grid-row: 2/3;
}