* {
    margin: 0px;
    padding: 0px;
}

#container-main,
#newProjectPrompt,
.container-row {
    display: flex;
}

#container-main {
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    margin: 10px;
}

#projects-display {
    display: flex;
    flex-direction: column;
    justify-content: start;

    width: 15vw;
    min-height: 100vh;

    border-right: 3px solid black;

    text-align: center;
    padding: 15px;
}

#btnNewProject {
    margin: 10px;
    width: 90%;
    min-height: 1.5rem;
}

#project {
    border: 2px solid black;
    border-radius: 5px;

    margin: 10px;
    padding: 3px;

    max-width: 15vw;
    
    text-align: center;
    font-size: medium;
}

#newProjectPrompt {
    border: 2px solid black;
    border-radius: 5px;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 30px;

    min-width: 50%;
    min-height: 10vh;
}

#newProjectPrompt > * {
    padding: 10px;
}